.env
*.env
!.env.example

app/*
!app/.gitkeep

gluetun/
!gluetun/.gitkeep

qbittorrent/*
!qbittorrent/.gitkeep
!qbittorrent/config/
qbittorrent/config/*
!qbittorrent/config/qBittorrent/
qbittorrent/config/qBittorrent/*
!qbittorrent/config/qBittorrent/qBittorrent.conf

sonarr/*
!sonarr/.gitkeep

radarr/*
!radarr/.gitkeep

# Remove when prowlarr works
jackett/*
!jackett/.gitkeep

prowlarr/*
!prowlarr/.gitkeep

overseerr/*
!overseerr/.gitkeep

# Git already gitignore this folder, but gitignore just in case
.git/*

**/*.log
logs/
*.log

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

docker-compose.override.yml
